:root{
	--bg: #2b2a33;
	--bgContent: #42414d;
	--main: #a6a5ad;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	background-color: var(--bg);
	display: flex;
	justify-content: center;
	align-items: center;
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;
}
.contener {
	height: 40vh;
	width: 30vh;
	background-color: var(--bgContent);
	border-radius: 3vh;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.equals {
	color: var(--main);
	font-size: 5vh;
}
.button {
	width: 25vh;
	height: 5vh;
	border-radius: 3vh;
}
input {
	width: 25vh;
	height: 5vh;
	border-radius: 3vh;
    font-size: 3vh;
    text-align: center;
}
p{
    text-align: center;
    color: var(--main);
    font-size: 3vh;
}
a{
	position:absolute ;
	bottom: 20px;
}